.column-1 {
  width: calc(((100% / 12) * 1) - 30px);
  height: 100%;
  background: #ccc;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  float: left; }

.column-2 {
  width: calc(((100% / 12) * 2) - 30px);
  height: 100%;
  background: #ccc;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  float: left; }

.column-3 {
  width: calc(((100% / 12) * 3) - 30px);
  height: 100%;
  background: #ccc;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  float: left; }

.column-4 {
  width: calc(((100% / 12) * 4) - 30px);
  height: 100%;
  background: #ccc;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  float: left; }

.column-5 {
  width: calc(((100% / 12) * 5) - 30px);
  height: 100%;
  background: #ccc;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  float: left; }

.column-6 {
  width: calc(((100% / 12) * 6) - 30px);
  height: 100%;
  background: #ccc;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  float: left; }

.column-7 {
  width: calc(((100% / 12) * 7) - 30px);
  height: 100%;
  background: #ccc;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  float: left; }

.column-8 {
  width: calc(((100% / 12) * 8) - 30px);
  height: 100%;
  background: #ccc;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  float: left; }

.column-9 {
  width: calc(((100% / 12) * 9) - 30px);
  height: 100%;
  background: #ccc;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  float: left; }

.column-10 {
  width: calc(((100% / 12) * 10) - 30px);
  height: 100%;
  background: #ccc;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  float: left; }

.column-11 {
  width: calc(((100% / 12) * 11) - 30px);
  height: 100%;
  background: #ccc;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  float: left; }

.column-12 {
  width: calc(((100% / 12) * 12) - 30px);
  height: 100%;
  background: #ccc;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  float: left; }

.container {
  max-width: 1477px;
  margin: 0px auto;
  height: 100px;
  background: blue; }

.row {
  width: 100%;
  height: 50px;
  background: green; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
